html {
  font-size: 60;
  line-height: 1.15%;
  box-sizing: border-box;
  display: block;
}

body {
  font-family: Noto sans-serif;
  letter-spacing: 0.05rem;
  color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: cornflowerblue;
  font-size: 14px;
}

.header .logo img, .logo p {
  display: inline;
}

/* .header .logo p {
  
} */

.nav-bar {
  margin: auto;
  position: fixed;
  top: 0;
}

@media screen and (max-width: 600px) {
  main-section {
     width: 100%;
  }
}

section .exmanple {
  display: flex;
  width: 100%;
}

section .exmanple h1, .exmanple p {
  flex-direction: row;
}
